h1 {
    color:green;
    background-color: black;
    text-align: center;
}
p {
    font-style: normal;
    text-align: center;
}
span {
    color: blue;
}
h2 {
    border: 2px black;
    padding: 2px;
    margin: 6px;
    background-color: Pink;
    text-align: center;
}
img {
    float: left;
}
